# Git
.git
.gitignore

# Dependencies
node_modules/

# Build output
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Documentation
*.md

# Docker
Dockerfile
.dockerignore

# Environment
.env
.env.*
!.env.example


